*{
  margin: 0;
}
body{
  height: 100vh;
  background-image: linear-gradient(#d8c7ff,#19006c);
}
.container{
  width: 400px;
  height: 550px;
  margin: auto;
  margin-top: 100px;
  background: white;
  color:#262626;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:10px;
  border-radius: 10px;
  padding: 40px 50px;

}

.conatiner hr{
  height: 2px;
  border: none;
  background: #707070;
}

.container h2{
  font-size: 25px;
  font-weight: 500;
 
}
.container ul li{
  display:flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-left: -20px;
  font-size:18px;
  cursor:pointer;
  
}
.container button{
  margin: auto;
  width:200px;
  height: 70px;
background: #553f9a;
color:white;
font-size: 25px;
font-weight: 500;
border-radius: 5px;
cursor: pointer;
}
.container .index{
  margin: auto;
  font-size: 18px;
}
.container .correct{
  background: #dffff2;
  border-color: #00d397;
}
.container .wrong{
  background: #ffebeb;
  border-color: #ff4a4a;
}